spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://${DATABASE_URL#postgresql://}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: ${PORT:8080}
