spring:
  application:
    name: prediction-backend-api

  datasource:
    url: jdbc:h2:mem:dbPredict
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
